*{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.SignIn{
  border: 0;
  outline: none;
  background-color: #6e76ca;
  margin-top: 10px;
  margin-left: 10px;
}
.SignInText{
  color: #ffffff;
  text-decoration: none;
}
.kape{
  background-image: url(fon.jpg);
  width: 100%;
  height: 40px;
}
.register{
  margin-left: 10px;
}
