*{
  margin: 0;
}
.SignIn{
  border-top-left-radius: 25px;
  font-size: 18px;
  color: #008000;
  border-color: #008000;
  border-width: 5px;
  outline-color: #ffffff;
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 1000px;

}
.kape{
  background-image: url(foan.jpg);
  width: 100%;
  height: 60px;
}
.register{
  font-size: 18px;
  border-top-right-radius: 25px;
  color: #1E90FF;
  border-color: #1E90FF;
  border-width: 5px;
  outline-color: #ffffff;
  background-color: #ffffff;
  margin-left: -4px;
}
